{include file="admin/header.html"}
{nocache}
<h1 class="xdcms_search_title">管理员管理</h1>
<div class="line"></div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="xdcms_table">
  <tr>
    <th colspan="7" class="title"><div class="title_nav_1"><a href="index.php?m=xdcms&c=admin">管理列表</a></div><span>|</span><div class="title_nav_2"><a href="index.php?m=xdcms&c=admin&f=add">添加管理</a></div><span>|</span><div class="title_nav_3"><a href="javascript:location.reload()">刷新页面</a></div></th>
  </tr>
  <tr>
    <th width="8%" class="tc">编号</th>
    <th width="20%">管理员账号</th>
    <th width="10%">登录IP</th>
    <th width="18%">创建时间</th>
    <th width="18%">登录时间</th>
    <th width="9%">是否锁定</th>
    <th width="10%">操作</th>
  </tr>
{loop module="admin"}
<tr {if $r._index%2==0}class="bf"{/if}> 
    <td class="tc">{$r.id}</td>
    <td>{$r.username}</td>
    <td>{$r.last_ip}</td>
    <td>{$r.creat_time|date_format:'%Y-%m-%d %H:%M:%S'}</td>
    <td>{$r.last_time|date_format:'%Y-%m-%d %H:%M:%S'}</td>
    <td>{if $r.is_lock==1}<a href="index.php?m=xdcms&c=admin&f=lock&id={$r.id}&lockid=0"><font color='#FF0000'>已锁定</font></a>{else}<a href="index.php?m=xdcms&c=admin&f=lock&id={$r.id}&lockid=1">正常</a>{/if}</td>
    <td><a href="index.php?m=xdcms&c=admin&f=edit&id={$r.id}">编辑</a> | <a href="###" onclick="confirm('真的要删除此管理员吗?','index.php?m=xdcms&c=admin&f=delete&id={$r.id}')">删除</a></td>
</tr>
{/loop}
</table>
{/nocache}
<div class="xdcms_bottom"></div>
</body>
</html>
