{include file="admin/header.html"}
{nocache}
<h1 class="xdcms_search_title">数据库管理</h1>
<div class="line"></div>
<form id="form1" name="form1" method="post" action="index.php?m=xdcms&c=data&f=backup">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="xdcms_table">
  <tr>
    <th colspan="7" class="title"><div class="title_nav_1"><a href="index.php?m=xdcms&c=data">数据备份</a></div><span>|</span><div class="title_nav_2"><a href="index.php?m=xdcms&c=data&f=data_file">数据恢复</a></div><span>|</span><div class="title_nav_3"><a href="javascript:location.reload()">刷新页面</a></div></th>
  </tr>
  <tr>
    <th width="6%" class="tc">选择</th>
    <th width="40%">表名</th>
    <th width="11%" class="tc">记录数</th>
    <th width="11%" class="tc">数据大小</th>
    <th width="11%" class="tc">操作</th>
  </tr>
{foreach from=$table item=value key=k}
<tr class="bf"> 
    <td class="tc"><input type="checkbox" name="id[]" value="{$value['Name']}" id="id[]" class="checkbox"/></td>
    <td>{$value['Name']}</td>
    <td class="tc">{$value['Rows']}</td>
    <td class="tc">{if $value['Data_length']/1024 < 1024}{round($value['Data_length']/1024,2)} KB{else}{round(($value['Data_length']/1024)/1024,2)} M{/if}</td>
    <td align="center"><a href="###" onclick="confirm('真的修复[{$value['Name']}]吗?','index.php?m=xdcms&c=data&f=repair&table={$value['Name']}')">修复</a></td>
</tr>
{/foreach}
 <tr class="bf"> 
    <td width="6%" height=25 align="center"><input name="checkSelect" type="checkbox" class="checkbox" onClick="javascript: checkAll(this)" value="checkbox"></td>
    <td colspan="4" align="left"><input type="submit" name="Submit" value="备份数据库" class="submit"/></td>
  </tr>
</table>
</form>
{/nocache}
<div class="xdcms_bottom"></div>
</body>
</html>
