{include file="admin/header.html"}
{nocache}
<h1 class="xdcms_search_title">模板管理</h1>
<div class="line"></div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="xdcms_table">
  <tr>
    <th colspan="7" class="title"><div class="title_nav_1"><a href="index.php?m=xdcms&c=template">管理首页</a></div><span>|</span><div class="title_nav_2"><a href="index.php?m=xdcms&c=template&f=calls">调用说明</a></div><span>|</span><div class="title_nav_3"><a href="javascript:location.reload()">刷新页面</a></div></th>
  </tr>
  <tr>
    <th width="8%" class="tc">编号</th>
    <th>模板名称</th>
    <th width="10%">操作</th>
  </tr>
{foreach from=$template_list item=value key=key}
<tr {if $key%2!=0}class="bf"{/if}> 
    <td class="tc">{$key}</td>
    <td>{$value}</td>
    <td><a href="index.php?m=xdcms&c=template&f=edit&file={$value}">编辑</a></td>
</tr>
{/foreach}
</table>
{/nocache}
<div class="xdcms_bottom"></div>
</body>
</html>
